logsBalance.csv
node_modules
.env
waitBid.json
test*.*
.ds_store
src/data/inventory.json
src/data/momoStorage.json
src/data/waitBid.json
src/data/*.csv
src/data/*.txt
.vscode
nohup.out
dist
src/env/.env
src/AI/data/*.json
src/AI/model/*.pkl
src/airdrop/*.json

# Hardhat files
/cache
/artifacts
/bin

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337