logsBalance.csv
node_modules
.env
waitBid.json
test*.*
.ds_store
src/data/inventory.json
src/data/momoStorage.json
src/data/waitBid.json
src/data/*.csv
src/data/*.txt
src/data/*.json
.vscode
nohup.out
dist
src/env/.env
src/AI/data/*.json
src/AI/model/*.pkl
src/airdrop/*.json
src/AI/predict/cache.json
public/images/MOMO

# Hardhat files
/cache
/artifacts
/bin

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
#####FRONTEND#####
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/venv

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
